<style>
    .div-1 {
        background-color: #49a12e;
    }
</style>

<div class="div-1">
    <div>
        <button (click)="enviarMensajeGohan()">Mensaje a Gohan</button>
    </div>
    
    
    
    <div>
        <button (click)="enviarMensajeGoten()">Mensaje a Goten</button>
    </div>
<p>goku works!</p>
<app-gohan [mensajeOfGoku]="mensajeGokuGohan" [mensajeOfGoten]="msgForGohan" (mensajeGohanGoku)="mensajeOfGohan($event)" (mensajeGohanGoten)="mensajeForGoten($event)"></app-gohan>
<app-goten [mensajeOfGoku]="mensajeGokuGoten" [mensajeOfGohan]="msgForGoten" (mensajeGotenGoku)="mensajeOfGoten($event)" (mensajeGotenGohan)="mensajeForGohan($event)"></app-goten>




    <div>
        <p>[Gohan says]: {{msgOfGohan}}</p>
    </div>

    <div>
        <p>[Goten says]: {{msgOfGoten}}</p>
    </div>

</div>