<!--Para crear un componente se usa ng generate component <<name>>-->
<!--ng server --o arrancar el servidor-->
<p>padre works!</p>
<!--Traigo todo lo que hay en el compontente hijo-->
<app-hijo [recibido]="mensajeHijo" [recibidoTwo]="data"    (enviarPapa)="recibirSaludo($event)"  (enviarInfo)="recibirInfo($event)"></app-hijo>

<button (click)="enviarMensaje()">presiona</button>
<p>Esto fue emitido: {{saludo}}</p>

<button (click)="enviarData()">enviar data</button>
<p>Procesando la data: {{informacion}}</p>






<!-- 

<div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-3">
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText  [(ngModel)]="persona.id"> 
            <label for="float-input">Person ID</label>
        </span>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText  [(ngModel)]="persona.name"> 
            <label for="float-input">name</label>
        </span>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText  [(ngModel)]="persona.lastname"> 
            <label for="float-input">last name</label>
        </span>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText  [(ngModel)]="persona.state"> 
            <label for="float-input">state</label>
        </span>
    </div>
</div>

<p-button label="Submit" (click)="mostrarDatos()"></p-button>
-->

<form [formGroup]="formUser" (ngSubmit)="showUser()">
    <input formControlName="id">
    <input formControlName="name">
    <input formControlName="lastname">
    <input formControlName="state">
    <button>Enviar</button>
</form>